.sidebar {
    background-color: black;
    color: white;
    flex: .4;
    margin-top: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
}

.sidebar li {
    text-decoration: none;
    list-style: none;
    padding: 5px;
    font-size: 30px;
    font-weight: normal;
}

.main {
    display: flex;
}

.container {
    padding-left: 20px;
    width: 100%;
}

.title {
    text-align: center;
    font-size: 80px;
    border-bottom: 4px solid;
    width: 100%;
}

.subSectionTitle {
    text-align: center;
    font-size: 30px;
    border-bottom: 4px solid;
}

.notesContainer {
    padding: 20px;
    border-bottom: 4px solid;
    width: 100%;
}

.notesContainer ul {
    padding-left: 20px;
}

.codeExampleContainer {
    background-color: black;
    color: wheat;
    padding: 20px 0;
    width: auto;
    font-size: 18px;
    width: 100%;
}

.codeExampleContainer li {
    list-style: none;
    
}
.codeExampleContainer ul {
    padding-left: 20px;
}